<HTML>
<HEAD> 

 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Hoja de Estilos -->
  <link rel="stylesheet" type="text/css" media="All" href="./css/proyectiza.css?version=1" /> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Jquery/Ajax -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
  <!-- Scripts Javascript -->
	<script type="text/javascript" src="./js/Centro.js"></script>

<TITLE> {TITLE} </TITLE>


</HEAD>
<BODY onload="scargar('contenido','u_noticias.php'); scargar('mensajes', 'u_mensajes.php'); scargar('notificaciones', 'u_notificaciones.php');scargar('fotoperf','u_fotoperf.php');"> 
	{CONTENIDO}
</BODY>

</HTML>
