{VARIABLE}
        <br>
        <div class ="form">
            
                <form action="login.php" method ="post">
                        <H2>Iniciar Sesión</H2>
                        Nombre de Usuario:<br>
                        <input type="text" name="username"><br>
                        Contraseña:<br>
                        <input type="password" name="password">
                        <br><br><br>
                        <input type="submit" value="Iniciar" class="AcceptButton">
                        <br><br><br>
                        <a href = "http://antares.dci.uia.mx/ic16azp/index.php?title=Registrarse"><h2 class="MiniText">¿Aun no tienes cuenta?</h2> </a>
                        
                </form>


        </div>

