<!DOCTYPE html>
<html>

<body>

<div class="row box">
	<div class="col-12">

		<h2>Proyecto: {Final B.D.}</h2>

		<h1>Asignar Tarea a:</h1> <br>

		<h2>{Wabusi}</h2>

	</div>
</div>

<div class="row box">

	<div class="col-6 menu">
		<div class = "aside margup">
			Nombre Tarea:
		</div>
	</div>


	<div class="col-6 menu">
		<div class = "aside margup mid">
			<form>

				<input type="text">

			</form>
		</div>
	</div>

</div>

<div class="row box">

	<div class="col-6 menu">
		<div class = "aside margup">
			Fecha inicio:
		</div>
	</div>


	<div class="col-6 menu">
		<div class = "aside margup mid">
			<form>

				<input type="date">

			</form>
		</div>
	</div>

</div>

<div class="row box">

	<div class="col-6 menu">
		<div class = "aside margup">
			Fecha Fin:
		</div>
	</div>


	<div class="col-6 menu">
		<div class = "aside margup mid">
			<form>

				<input type="date">

			</form>
		</div>
	</div>

</div>

<div class="row box">

	<div id="usuario" class="col-6 menu">
		<div class = "aside mid">
			<ul> 
				<li>
					Aceptar
				</li> 
			</ul>
		</div>
	</div>
</div>

</body>
