<!DOCTYPE html>
<html>

<body>

<div class="row box">

	<h1> Eliminar la Tarea: {Diseño de paginas}? </h1>
	
</div>


<div class="row box">
	<div id="usuario" class="col-6 menu">
		<div class = "aside margup mid">
			<ul> 
				<li class="mid" onclick ="scargar('contenido','ul_proy.html');">
					Si
				</li> 
			</ul>
		</div>
	</div>

	<div id="usuario" class="col-6 menu">
		<div class = "aside margup mid">
			<ul> 
				<li class="mid" onclick ="scargar('contenido','ul_proy.html');">
					No
				</li> 
			</ul>
		</div>
	</div>

</div>


</body>